* {
  margin: 0;
  padding: 0;
}

/* ----------INDEX----------- */
#bvideo {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  background-color: white;
}

#main_index {
  width: 100%;
  overflow: hidden;
}

#index_section_contactnow {
  background-color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

#index_section_contactnow div {
  padding: 20px;
}

section button a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

section button a:hover {
  color: #7a406f !important;
}

section button {
  width: 200px;
  padding: 10px 10px;
  text-align: center;
  border: 2px solid black !important;
}

.contact_button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f0f0f0;
}

#index_section_contactnow-p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin-bottom: 70px;
}

.link {
  text-decoration: underline;
  color: #7a406f;
}

.link:hover {
  color: #830a2b;
}

/* ----------INDEX----------- */
/* -------------------HEADER-------------- */
.header1 {
  width: 100%;
}

.logomb:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav {
  background-color: #120f26;
}

nav ul li a {
  font-size: 20px;
  color: white !important;
}

nav ul li a:hover {
  color: #b1b1b1 !important;
}

/* -------------------HEADER-------------- */
/* -------------------FOOTER-------------- */
.footer1 {
  background-color: rgba(0, 18, 182, 0.03);
  margin-top: 30px;
}

.footer2 {
  background-color: #120f26;
  color: #fff;
}

/* -------------------FOOTER-------------- */
/* -------------------ABOUT.HTML-------------- */
.h1_main {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: capitalize;
  text-shadow: 1px 3px 10px gray;
  font-size: 70px;
  width: 80%;
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 70px;
  padding-bottom: 30px;
  padding-right: 0;
  color: #830a2b;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.div_about {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

#img_about {
  border: 3px solid black;
  border-radius: 3%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: auto;
  width: 100%;
}

/* -------------------ABOUT.HTML-------------- */
/* -------------------MUSIC.HTML-------------- */
.video1 {
  padding: 20px;
}

.music_row {
  margin-bottom: 30px !important;
}

#music_soundcloud_p {
  font-size: 30px;
  text-align: justify;
  overflow-wrap: break-word;
  padding: 10px;
}

#music_section_reviews {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.music_reviews {
  height: 200px;
  width: 300px;
  border: 3px solid black;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
}

/* -------------------MUSIC.HTML-------------- */
/* -------------------CALCULATOR.HTML-------------- */
#theform {
  display: inline-block;
  padding: 20px;
  border: 1px solid #666;
  border-radius: 10px;
  background-color: #fff;
  color: #666;
  -webkit-box-shadow: inset 0 0 20px #999,3px 3px 3px #666;
          box-shadow: inset 0 0 20px #999,3px 3px 3px #666;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.calculator_text {
  text-align: center;
  padding: 20px;
}

.sec_calculator p {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
}

.calculator_form {
  text-align: center;
  margin-top: 40px;
}

.sec_calculator a {
  text-decoration: none;
}

#theform div {
  margin: 5px 0;
}

#theform label {
  display: inline-block;
  width: 200px;
}

#main_calculator p {
  font-size: 20px;
  padding: 10px;
}

#main_calculator h3 {
  font-size: 30px;
  text-transform: capitalize;
}

/* -------------------CALCULATOR.HTML-------------- */
/* -------------------CONTACT.HTML-------------- */
#contact_form {
  font-family: 'Times New Roman', Times, serif;
  padding: 40px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 25px;
  border-radius: 8%;
  background-color: #e7e7e7;
}

.btn-contact {
  margin-top: 10px;
  background-color: #830a2b !important;
  border: #120f26;
  border-radius: 5px;
  color: white !important;
  padding: 3px;
}

.btn-contact:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.form-check-input:checked {
  background-color: #830a2b !important;
}

form label {
  font-weight: bold;
}

/* -------------------CONTACT.HTML-------------- */
@media only screen and (max-width: 1320px) {
  .div_about {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  #music_soundcloud_p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1150px) {
  .div_about {
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  .h1_main {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    padding: 35px;
  }
  footer p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1018px) {
  .div_about {
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  #music_soundcloud_p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 991px) {
  .video2 {
    padding: 20px;
  }
  .iframe_music {
    width: 100%;
    height: 400px;
  }
  .soundcloud {
    height: 400px;
  }
}

@media only screen and (max-width: 900px) {
  .sec_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10px;
    gap: 50px;
  }
  #bvideo {
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .h1_main {
    text-align: center;
    margin: auto;
    padding-left: 0;
  }
  .div_about {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  }
  .sec_calculator p {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 70px;
  }
  .logomb {
    width: 350px;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    padding: 10px;
    padding-right: 30px;
  }
  .menu_img {
    height: 35px;
    width: 30px;
  }
  #contact_form {
    font-size: 25px;
  }
}

@media only screen and (max-width: 801px) {
  .logomb {
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  nav ul li a {
    font-size: 17px;
  }
  .iframe_music {
    height: 300px;
  }
}

@media only screen and (max-width: 712px) {
  .sec_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10px;
    gap: 30px;
  }
  .div_about {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
  }
  #music_soundcloud_p {
    font-size: 18px;
  }
  .logomb {
    width: 270px;
  }
}

@media only screen and (max-width: 665px) {
  .logomb {
    width: 250px;
  }
  nav ul li a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 570px) {
  #main_calculator p {
    font-size: 18px;
  }
  #contact_form {
    background-color: white;
  }
  .iframe_music {
    width: 100%;
    height: 250px;
  }
}

@media only screen and (max-width: 506px) {
  .sec_calculator p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
  }
  #music_section_reviews {
    font-size: 15px;
  }
  .music_reviews {
    height: 200px;
    width: 300px;
    border: 3px solid black;
    margin: 10px;
    padding: 20px;
  }
}

@media only screen and (max-width: 494px) {
  #music_soundcloud_p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 492px) {
  .header1 {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    padding: 5px;
  }
  .menu_img {
    height: 20px;
    width: 20px;
  }
  .header2 {
    height: 85px;
  }
}

@media only screen and (max-width: 472px) {
  .sec_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10px;
    gap: 25px;
  }
  .h1_main {
    font-size: 40px;
  }
  .div_about {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
  }
  #music_soundcloud_p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 472px) {
  #theform {
    display: inline-block;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #fff;
    color: #666;
    -webkit-box-shadow: inset 0 0 20px #999, 3px 3px 3px #666;
            box-shadow: inset 0 0 20px #999, 3px 3px 3px #666;
  }
  section button {
    width: 180px;
    padding: 10px 8px;
  }
  #index_section_contactnow-p {
    font-size: 20px;
    margin-bottom: 0px;
  }
  #contact_form {
    font-size: 15px;
  }
  .video2 {
    padding: 0px;
  }
  .video1 {
    padding: 0px;
  }
  .soundcloud {
    height: 280px;
  }
}

@media only screen and (max-width: 400px) {
  #theform {
    display: inline-block;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #fff;
    color: #666;
    -webkit-box-shadow: inset 0 0 20px #999, 3px 3px 3px #666;
            box-shadow: inset 0 0 20px #999, 3px 3px 3px #666;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 260px;
  }
  #music_soundcloud_p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 382px) {
  #img_about {
    height: 220px;
    text-align: center;
  }
  .sec_about {
    gap: 15px;
  }
  .h1_main {
    font-size: 35px;
  }
}

@media only screen and (max-width: 360px) {
  nav {
    padding: 5px;
  }
  .menu_img {
    height: 20px;
    width: 20px;
  }
  .logomb {
    width: 220px;
  }
  #music_soundcloud_p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 334px) {
  .index_but {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .index_container {
    padding-top: 0px !important;
  }
  .logomb {
    width: 200px;
  }
  .iframe_music {
    width: 100%;
    height: 180px;
  }
  .soundcloud {
    height: 220px;
  }
}
/*# sourceMappingURL=styles.css.map */